@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(193, 239, 255, 0.09);
  border: 1px solid #5cb8e4;
  color: #5cb8e4;
}

button:active {
    background-color: rgba(193, 239, 255, 0.6);
}

button:hover {
    background-color: rgba(193, 239, 255, 0.6);
}

.bx .bx-trash {
    margin-left: 10px;
}

.top-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 60px 0;
}

.container-title {
  font-size: 60px;
  align-content: flex-start;
}

.tagline {
  padding: 10px;
  width: fit-content;
  background-color: #ffeeaf;
  border-radius: 10px;
  transition: all 1.2s ease-in-out;
}

.add-new {
  display: flex;
  align-self: flex-end;
  height: fit-content;
  width: fit-content;
  margin: 20px 0;
}

.task-title-input {
  /* width: 90%; */
  padding: 10px;
  margin: 0 30px;
  border-radius: 10px;
  background-color: rgba(193, 239, 255, 0.09);
  border: 1px solid #5cb8e4;
  color: #5cb8e4;
}

.task-title-input::placeholder {
  color: #5cb8e4;
}

.add-new .add-new-btn {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(193, 239, 255, 0.09);
  border: 1px solid #5cb8e4;
  color: #5cb8e4;
}
.add-new .add-new-btn:active {
  background-color: rgba(193, 239, 255, 0.6);
}

.task-box {
  width: 100%;
}

.task-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/*  */

/* .task-container .task-row{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
} */


/* .task-box{
    
} */

.task-box tr{
    padding: 15px;;
}

.task-box .task-table-heading {
    border-bottom: 2px solid #000;
    text-align: left;
    width: 100%;
    justify-content: center;
}